[submodule "app/jni/SDL2"]
    path = app/jni/SDL2
    url = https://github.com/libsdl-org/SDL.git
    branch = SDL2
[submodule "app/jni/SDL2_ttf"]
    path = app/jni/SDL2_ttf
    url = https://github.com/libsdl-org/SDL_ttf.git
    branch = SDL2
